@import "tailwindcss";

:root {
  --background: #FDFBF7;
  --foreground: #171717;
  --paper: #FDFBF7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-paper: var(--paper);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --paper: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}